#first {
    background: url('../images/bg_header.jpg');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 150vh;
}

#menu-ul {
  background-color: grey;
  width: 15%;
  height: 100vh;
  margin-left: -17px;
  position: fixed
}

li a{
  margin-left: 10px;
}

#your-logo {
  width: 20%;
}

#logo {
width: 25vh;
margin-left: 15%;
}

#hamburger{
margin-right: 15%;
}

.jumbotron {
  padding-top: 30px;
  padding-bottom: 30px;
  margin-bottom: 30px;
  color: white;
  background: none;
  text-align: center;
}

.strong {
  font-weight: bold;
  font-size: 50px;
}

.gi-2x{font-size: 2em;}
.gi-3x{font-size: 3em;}
.gi-4x{font-size: 4em;}
.gi-5x{font-size: 5em;}

#nuage {
  width: 100%;
  position: absolute;
  height: 125vh;
}

#appareil-photo {
  width: 100%;
  position: absolute;
  height: 125vh;
}

#text-nuage {
  position: relative;
  color: white;
  background-color: rgba(85, 255, 238, 0.6);
  height: 125vh;
  padding: 40px;
}

#text-photo {
  position: relative;
  color: white;
  background-color: rgba(85, 255, 238, 0.6);
  height: 125vh;
  padding: 40px;
  padding-left: 10px;
}

.styling1 {
  border: 2px solid white;
  padding-bottom: 10%;
  margin-left: 20px;
  text-align: center;
}

.block-margin{
margin: 5%;
}

#photo-text {
  line-height: 1.8;
  font-style: italic;
}

#photos {
  margin: 60px;
  background-color: rgb(211,211,211);
}

#contact-image {
  position: absolute;
  min-width: 100%;
  height: auto;
  filter: blur(20px);
}

#contact-text {
  position: relative;
  color: white;
  padding: 40px;
  margin-top: 50px;
}

#contact {
  position: relative;
  overflow: hidden;
}

#footer {
  background-color: rgb(48, 48, 48);
  color: white;
  padding-top: 50px;
  padding: 40px;
}

@media screen and (max-width: 640px) {

  h1 {
    font-size: 2em;
  }
  
  h2 {
    font-size: 1.5em;
  }

  h3 {
    font-size: 1em;
  }

  h4 {
    font-size: 0.75em;
  }

  p {
    font-size: 0.75em;
  }

  #your-logo {
    width: 20%;
  }

  #first {
    height: 90vh;
  }

  #nuage {
    height: 50vh;
  }

  #appareil-photo {
    height: 50vh;
  }
  
  #text-nuage {
    height: 50vh;
    padding: 5px;
  }

  #text-photo {
    height: 50vh;
    padding-left: 10px;
  }

  #photo-text {
    margin-left: 10px;
  }

  .styling1 {
    height: 50px;
    text-align: center;
    margin-left: 25%;
  }

  #menu-ul {
    width: 100%;
  }

  #logo {
    margin-left: 33%;
    width: 70%;
  }
}

@media screen and (min-width: 640px) and (max-width: 1024px) {

  #your-logo {
    width: 20%;
    margin-left: 10%;
  }

  #first {
    height: 50vh;
  }

  #nuage {
    height: 50vh;
  }

  #appareil-photo {

    height: 50vh;
  }
  
  #text-nuage {
    height: 50vh;
    padding: 5px;
  }

  #text-photo {
    height: 50vh;
    padding-left: 10px;
  }

  #photo-text {
    margin-left: 10px;
  }
  
  .styling1 {
    padding-bottom: 5%;
    margin-left: 20px;
    text-align: center;
  }

  #menu-ul {
    width: 50%;
  }

  #logo {
    margin-left: 33%;
    width: 40%;
  }

  .logos {
    width: 50%;
    margin-left: 25%;
  }
}